<h1>{{ title }}</h1>
<!-- 
    __Angular's interpolation binding syntax__
      x You can call a function as well here - but it will be called upon
        every render
      x You cannot use `|` as that is reserved for pipes.
    
-->

<div class="toolbar" role="banner">
  <span>Welcome!</span>
</div>

<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>

  <app-heroes></app-heroes>

  <router-outlet></router-outlet>
</div>
